.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

 overflow: hidden;

  
}

.app_carousel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img_pilar{
  width: auto; /* Cambia el valor según tu preferencia */
  min-height: 400px;
  max-height: 400px;
  
}

/* .Cuadro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:navajowhite;

-webkit-box-shadow: 5px 4px 5px -4px rgba(0,0,0,0.65);
-moz-box-shadow: 5px 4px 5px -4px rgba(0,0,0,0.65);
box-shadow: 5px 4px 5px -4px rgba(0,0,0,0.65);


} */

.slider {
  overflow: hidden;
}

.slide-container {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  transition: transform 0.3s ease-in-out;
}



  
  .prev-button,
  .next-button {
    background-color: #ccc;
    border: none;
    padding: 8px 16px;
    margin: 0 8px;
    cursor: pointer;
  }

  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .prev-button {
    order: 1;
  }
  
  .next-button {
    order: 3;
  }

  .Container {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .Cuadro {
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .iconGroup {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .iconGroup i {
    font-size: 24px;
    color: #ff5722;
    transform: rotate(5deg)
  }
  
  .icon1 {
    animation: fireIcon 5s infinite linear;
    position: relative;
    transform: rotate(10deg);
    left: 50px;
  }
  
  .icon2 {
    animation: fireIcon 5s infinite linear 7s; 
    position: relative;
    transform: rotate(10deg);
    right: 50px;
  }
  
  .icon3 {
    animation: fireIcon 4s infinite linear 2s; 
  }
  
 
  
  /* .iconGroup {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: radial-gradient(circle, #ff5722, #d50000);
    animation: fireRising 3s infinite linear;
    opacity: 0.6;
    z-index: -1;
  } */
  
  @keyframes fireRising {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  
  @keyframes fireIcon {
    0% {
      transform: translateY(400px);
      opacity: 0;
    }
    50% {
      transform: translateY(300%);
      opacity: 1;
    }

    100% {
      transform: translateY(-700%);
      opacity: 1;
    }
  }


  .fireEffect {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 50px;
    background-color: transparent;
    border-radius: 50% 50% 0 0;
    animation: flames 1s infinite alternate;
    opacity: 0.6;
    z-index: -1;
  }
  
  @keyframes flames {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-10px);
    }
  }